<center>
  <h1><%= @server_name %></h1><br>
  Server name: <%= @server_name %><br>
  Server port: <%= @server_port %><br>
  <br>
  HTTP host: <%= @http_host %><br>
  HTTP user agent: <%= @http_user_agent %><br>
  <br>
  Remote address: <%= @remote_addr %><br>
  HTTP X forwarded for: <%= @http_x_fowarded_for %><br>
</center>